<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
  {%- include head.html -%}
  <style>@import url(/assets/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title[page.lang] }}</title>
  
  <link rel="stylesheet" href={{"/assets/css/bootstrap.min.css" | relative_url}} /> 
  <link rel="stylesheet" href={{"/assets/css/style.css" | relative_url}} /> 
  
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
  </body>
</html>
