<footer>
  
 <div class="w3-bar w3-metro-darken w3-margin-top w3-hide-small">
   
    {% assign pages=site.pages | where:"ref", "home" | sort: 'lang' %}
    {% for p in pages %}         
     {% if p.lang == page.lang %}
      <a href="{{ p.url| relative_url }}" class="w3-bar-item w3-button"><i class="fa fa-home fa-2x"></i></a> 
      {% break %}
     {% endif %}
{% endfor %}  
    
{% assign pages=site.pages | where:"ref", "about" | sort: 'lang' %}
{% for p in pages  %}         
      {% if p.lang == page.lang %}
       <a href="{{ p.url| relative_url }}" class="w3-bar-item w3-button"><i class="fa fa-id-card fa-lg"></i></a>
       {% break %}
     {% endif %}
{% endfor %} 
   
 
   {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for p in posts %}

         {% if p.lang != page.lang %}
       {% if p.lang == "en" %}
         <a href="{{ p.url | relative_url }}" class="w3-bar-item w3-button  w3-right"> <img src="{{ '/assets/img/english.png' | relative_url }}" alt="English version" width="20" height="20"> </a>  
       {% elsif p.lang == "es" %}
         <a href="{{ p.url | relative_url}}" class="w3-bar-item w3-button  w3-right">  <img src="{{ '/assets/img/espanol.png' | relative_url }}" alt="Versión en español" width="20" height="20"> </a> 
       {% elsif p.lang == "fr" %}
         <a href="{{ p.url| relative_url }}" class="w3-bar-item w3-button  w3-right">  <img src="{{ '/assets/img/francais.png' | relative_url }}" alt="Version en français" width="20" height="20"> </a>   
       {% endif %}
     {% endif %}
     
   
    {% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for p in pages %}
     
    
      {% if p.lang != page.lang %}
       {% if p.lang == "en" %}
         <a href="{{ p.url | relative_url }}" class="w3-bar-item w3-button  w3-right"> <img src="{{ '/assets/img/english.png' | relative_url }}" alt="English version" width="20" height="20"> </a>  
       {% elsif p.lang == "es" %}
         <a href="{{ p.url | relative_url}}" class="w3-bar-item w3-button  w3-right">  <img src="{{ '/assets/img/espanol.png' | relative_url }}" alt="Versión en español" width="20" height="20"> </a> 
       {% elsif p.lang == "fr" %}
         <a href="{{ p.url| relative_url }}" class="w3-bar-item w3-button  w3-right">  <img src="{{ '/assets/img/francais.png' | relative_url }}" alt="Version en français" width="20" height="20"> </a>   
       {% endif %}
     {% endif %}
     
{% endfor %}   
   
   
</div> 
  
</footer>
