<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title[page.lang] }} | {{ page.title }} </title>
	
	{%- assign s = "algorithm" -%}
	{%- for kw in site.keywords[page.lang] -%}
		{%- capture s -%}
			{{ kw }}; {{ s }}
		{%- endcapture -%}
	{%- endfor -%}
	{%- for kw in page.keywords -%}
		{%- capture s -%}
			{{ kw }}; {{ s }}
		{%- endcapture -%}
	{%- endfor -%}
	<meta name="keywords" content="{{ s | strip }}">
	<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
	<meta name="DC.Title" lang="{{ page.locale }}" content="{{ page.title }} - {{ site.title[page.lang] }}">
	<meta name = "DC.Format" content = "text/html">
	<meta name = "DC.Language" content = "{{ page.lang }}">
	<meta name = "DC.Date" content = "{{ page.date }}">
	<meta name="DC.description" lang="{{ page.locale }}" content="{{ page.description | strip }}" />
	<meta property="og:title" content="{{ page.title }}" /> 
	<meta name="author" content="{{ page.author }}" /> 
	<meta property="og:locale" content="{{ page.locale }}" /> 
	<meta name="description" content="{{ page.description | strip }}" /> 
	<meta property="og:description" content="{{ page.description | strip }}" /> 
	<link rel="canonical" href="{{ page.url | absolute_url }}" /> 
	<meta property="og:url" content="{{ page.url | absolute_url }}" /> 
	<meta property="og:site_name" content="{{ site.title[page.lang] }}" /> 
	<script type="application/ld+json"> {"@context": "https://schema.org/",	"@type": "WebSite", "name": "{{ site.title[page.lang] }}", 
	"author": { "@type": "Person", "name": "LWH"},
      	"datePublished": "{{ page.date }}",
	 "url":"{{ page.url | absolute_url }}",
      	"description": "{{ page.description | strip }}" }
    	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-F8LZDS69VY"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'G-F8LZDS69VY');
	</script>
	
	{%- if page.custom_css -%}
			{%- for stylesheet in page.custom_css -%}
				<link rel="stylesheet" href="{{ stylesheet }}">
			{%- endfor -%}
	{%- endif -%}	

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/js/hightlight/default.min.css">
	<link rel="stylesheet" href={{"/assets/css/lw_style.css" | relative_url}} /> 	
</head>
