<article class="post">
	<div class="w3-container w3-quarter w3-margin-top">
		<div class="w3-card-4 w3-metro-teal">
			<div class="w3-container w3-center">
				<h3>{{ page.title | escape }}</h3>
				<img src="{{ page.image | relative_url }}" alt="{{ page.description }}" style="width:95%";>
				{%- assign date_format = site.date_format[page.lang] | default: "%Y/%m/%d" -%}
				<h4>{{ page.date | date: date_format }}</h4>
				<p>{{ page.description }}</p>	
			</div>
		</div>
	</div>	
	<div id = "container" class = "w3-container w3-rest post-content w3-margin-top">  	
		{{ content }}
	</div>
</article>
